body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.small-icon {
  width: 30px;
  height: 30px; 
}
.card-hover:hover {
  background: linear-gradient(to bottom right, #003cff, #00bcd4); 
  transition: background 0.3s ease; 
  border: none;
  color: white;
}
.card-hover:hover svg{
  fill: white;
}